
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}
nav a, button {
	min-width: 48px;
	min-height: 48px;
}

@media only screen and (max-width: 500px) {/*need to be changed*/
	p {
		display: none;
	}
}
@media screen and (max-width: 767px) {
    .title-logo {
        max-width: 200px;
        /* Write code here to center the logo on smaller devices! */
    }

    .title-text {
        /* Write code here to center the title text on smaller devices! */
    }
}
